{% extends 'components/layout.html' %}

{% block row %}
{% for x in pc %}
<div class="card" style="width: 18rem; border-radius: 5%;border-color: black ;border-width: 1rem; margin: 0.3rem;">
  <img src="{{ x['img'] }}" class="card-img-top" alt="">
  <div class="card-body text-center">
    <h5 class="card-title">{{ x['first_name'] }} {{ x['last_name'] }}</h5>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">Team: {{ x['team'] }}</li>
      <li class="list-group-item">Position: {{ x['pos'] }}</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">PTS: {{ x['pts'] }}</li>
      <li class="list-group-item">REB: {{ x['reb'] }}</li>
      <li class="list-group-item">AST: {{ x['ast'] }}</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">PER: {{ x['per'] }}</li>
      <li class="list-group-item">BLK: {{ x['blk'] }}</li>
      <li class="list-group-item">STL: {{ x['stl'] }}</li>
    </ul>
  </div>
  

</div>
{% endfor %}
{% endblock row %}